/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(248, 241, 241);
  text-shadow: none;
   /* Prevent inheritance from `body` */
}

.h2-custom{
  background:linear-gradient(rgba(139, 19, 19, 0.36), rgba(158, 44, 44, 0.664));
  margin-top: 10px;
  margin-bottom: 20px;
}
 
/* For popups alerts*/
.alert {
  padding: 20px;
  background-color: #77b446;
  color: rgb(8, 1, 1);
  font-size: 20px;
}


.closebtn {
  margin-left: 15px;
  color: rgb(17, 2, 2);
  font-weight: bold;
  float: right;
  font-size: 25px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}



/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background: linear-gradient(rgba(255, 255, 255, 0.36), rgba(255, 255, 255, 0.299)), url('laravel1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(86, 79, 79);
  height: 100%;
  margin:0;
  
}
.carousel-inner img {
  margin: auto;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.text-welcome {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 3em;
  font-weight: bold;
  background: linear-gradient(rgba(255, 255, 255, 0.517), rgba(255, 255, 255, 0.517));
}

.container-formulario{
  background: linear-gradient(rgba(255, 255, 255, 0.61), rgba(255, 255, 255, 0.651));
  width: fit-content;
  height: fit-content;
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
}

.bg-custom{
  background: linear-gradient(rgba(255, 255, 255, 0.61), rgba(255, 255, 255, 0.651));
}

.form-group label{
    width: 100%;
    clear: both;
    text-align: left;
    color:black;
}
.form-group input{
  width: 100%;
  clear: both;
}

.push {
  height: 50px;
}

.footer{
  text-align: center;
  background: linear-gradient(rgba(255, 255, 255, 0.517), rgba(255, 255, 255, 0.517));
  height: 50px;
}


/*
 * Header
 */
.navbar-custom{
  background: linear-gradient(rgba(255, 255, 255, 0.517), rgba(255, 255, 255, 0.517));
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li a, .dropbtn {
  color: white;
  text-align: center;
  
  text-decoration: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
